

body{
    padding-left: 20px;
    margin: 10px 10px;
}

img{
    height: 300px; /* Ocupa a altura total da tela */
    width: 600px; /* Ocupa a largura total da tela */
    display: block;     /* Torna a imagem um bloco para usar margin */
    margin-left: auto;  /* Margem esquerda automática */
    margin-right: auto
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0)
 
}
body {
    margin: 0;
    padding: 0;
  }
  
  .imagem-fixa {
    background-image: url('../img/Cal.gif'); /* Substitua pelo caminho do seu GIF */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px; /* Ocupa a altura total da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Estilo para o h1 sobre o GIF */
.img h1 {
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para melhorar a visibilidade */
    position: absolute;
}

/* Estilo para o conteúdo abaixo do GIF */
.conteudo {
    padding: 20px;
    height: 200vh; /* Para criar a rolagem */
}


h2{
    color: rgb(12, 12, 95);
}
h3{
    color: rgb(12, 12, 95);
}