body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
}
#nav_main a {
    padding: 5px;
    font-weight: 600;
    text-decoration:none;
    color: hsl(0, 0%, 100%);
    margin-left: 5px;
    text-align: center;
    

}
#nav_main a:hover{
    color: #fdfdfd;
    transition: all 0.8s;
    border-bottom: 2px solid #f4f4f4;
    transition: border-bottom-color 0.8s ease;
}
.menu_atual{
    border-bottom: 2px solid #f4f4f4;
    transition: border-bottom-color 0.8s eas
}
#nav_main{
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header{
    height: 150px;
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.form-container {
    width: 100%;
    max-width: 400px;
    padding: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.imagem-fixa2 {
    background-image: url('../img/Cal.gif'); /* Substitua pelo caminho do seu GIF */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px; /* Ocupa a altura total da tela */
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.icones-footer {
    color: white;
    margin: 170px;
    font-size: 16px;
    text-decoration: none;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4c66af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:active {
    background-color: red;
  }
button:hover {
    background-color: #077cdb;
}
.imagem-fixa {
background-image: url('../img/Cal.gif'); /* Substitua pelo caminho do seu GIF */
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 200px; /* Ocupa a altura total da tela */
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;}
a {
padding: 5px;
font-weight: 600;
text-decoration:none;
color: hsl(0, 0%, 100%);}
a:hover{
color: #00b3ff;
transition: all 0.8s;
transition:0.8s ease;}

    .resultado {
margin-top: 20px;
padding: 10px;
border: 1px solid #ccc;
background-color: #f9f9f9;}

@media (max-width: 768px) {
header {
height: 150px;
padding: 5px;
font-size: 18px;}
}

#h1{
padding: 5px;
margin: 50px;
border: 10px;
}
#subir {
    width: 50px; /* Ajuste o valor conforme desejado */
    height: 50px; /* Ajuste o valor conforme desejado */
    position: fixed;
    bottom: 30px;
    right: 10px;
}
