



img{
    height: 300px; /* Ocupa a altura total da tela */
    width: 600px; /* Ocupa a largura total da tela */
    display: block;     /* Torna a imagem um bloco para usar margin */
    margin-left: auto;  /* Margem esquerda automática */
    margin-right: auto
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0)
 
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.imagem-fixa {
    background-image: url('../img/Cal.gif'); /* Substitua pelo caminho do seu GIF */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px; /* Ocupa a altura total da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
}
.imagem-fixa2 {
    background-image: url('../img/Cal.gif'); /* Substitua pelo caminho do seu GIF */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px; /* Ocupa a altura total da tela */
    display: flex;
    align-items: center;
    justify-content: ;
    color: white;
    text-align: center;
    text-decoration: none;
}
.icones-footer {
    color: white;
    margin: 170px;
    font-size: 16px;
    text-decoration: none;
    box-decoration-break: none;
}
.icones-footers a:hover {
    
}
/* Estilo para o h1 sobre o GIF */
.img h1 {
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para melhorar a visibilidade */
    position: absolute;
}
/* Estilo para o conteúdo abaixo do GIF */
.conteudo {
    padding: 20px;
    height: 200vh; /* Para criar a rolagem */
}
h2{
    color: rgb(12, 12, 95);
}
h3{
    color: rgb(12, 12, 95);
}
nav li{
display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}
#nav_main a {
    padding: 5px;
    font-weight: 600;
    text-decoration:none;
    color: hsl(0, 0%, 100%);
    

}
#nav_main a:hover{
    color: #fdfdfd;
    transition: all 0.8s;
    border-bottom: 2px solid #f4f4f4;
    transition: border-bottom-color 0.8s ease;
}
.menu_atual{
    border-bottom: 2px solid #f4f4f4;
    transition: border-bottom-color 0.8s eas
}
#nav_main{
    text-align: center;
    display: inline-block;
    width: 500px;
    height: 5px;
    /* background-color: cadetblue; */
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 400px;
}
header{
    height: 200px;
    width: 100%;
    background-color: #0f014e;
}

a {
    padding: 5px;
    font-weight: 600;
    text-decoration:none;
    color: hsl(0, 0%, 100%);
    

}
a:hover{
    color: #00b3ff;
    transition: all 0.8s;
    transition:0.8s ease;}
    